<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Test bootstrap</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

<head>


</head>

<body>

    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ДИПЛОМ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;Пул задач</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;Пул тем</a>
                    </li>

                </ul>
                <a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Войти</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row row-margin-bottom">
            <div class="col">
                <div class="container">
                    <div class="row row-margin-bottom">
                        <div class = "col border rounded-lg quick-panel">
                            <h5><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;Мои отправки</h5>
                            <hr />
                            <ul>
                                <li><a href="#">Задача 1</a></li>
                                <li><a href="#">Задача 2</a></li>
                                <li><a href="#">Задача 3</a></li>
                                <li><a href="#">Задача 5</a></li>
                                <li><a href="#">Задача 6</a></li>
                                <li><a href="#">Задача 7</a></li>
                                <li><a href="#">Задача 8</a></li>
                                <li><a href="#"><i class="fa fa-shield fa-rotate-270"></i>&nbsp;Ещё...</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row row-margin-bottom">
                        <div class = "col border rounded-lg quick-panel">
                            <h5><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Мои группы</h5>
                            <hr />
                            <ul>
                                <li><a href="#">Группа 1</a></li>
                                <li><a href="#">Группа 2</a></li>
                                <li><a href="#">Группа 3</a></li>
                                <li><a href="#">Группа 4</a></li>
                                <li><a href="#">Группа 5</a></li>
                                <li><a href="#"><i class="fa fa-shield fa-rotate-270"></i>&nbsp;Ещё...</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9 main-content border rounded-lg">
                <h5 class="centered green-h">Олимпийская сборная (2й курс)</h5>


                <ul class="nav nav-pills tabs-menu">
                    <li>
                        <a class="nav-link active" href="#"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Состав группы</a>
                    </li>
                    <li>
                        <a class="nav-link " href="#"><i class="fa fa-table" aria-hidden="true"></i>&nbsp;Результаты группы</a>
                    </li>
                    <li>
                        <a class="nav-link " href="#"> <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;Задание группе</a>
                    </li>
                </ul>




                <div class="container">

                    <div class="row item-mylist">
                        <div class="col col-align-center">
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                            Иванов Иван Иванович
                        </div>
                        <div class="col col-align-center">
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;
                                Личные результаты
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-dark" href="#"><i class="fa fa-pencil fa-fw"></i></a>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                    </div>

                    <div class="row item-mylist">
                        <div class="col col-align-center">
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                            Иванов Иван Иванович
                        </div>
                        <div class="col col-align-center">
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;
                                Личные результаты
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-dark" href="#"><i class="fa fa-pencil fa-fw"></i></a>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                    </div>

                    <div class="row item-mylist">
                        <div class="col col-align-center">
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                            Иванов Иван Иванович
                        </div>
                        <div class="col col-align-center">
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;
                                Личные результаты
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-dark" href="#"><i class="fa fa-pencil fa-fw"></i></a>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                    </div>

                    <div class="row item-mylist">
                        <div class="col col-align-center">
                            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                            Иванов Иван Иванович
                        </div>
                        <div class="col col-align-center">
                            <a href="#"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;
                                Личные результаты
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-dark" href="#"><i class="fa fa-pencil fa-fw"></i></a>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                    </div>



                    <div class="row row-margin-top">
                        <div class = "col">
                            <button class="btn btn-primary">
                                <i class="fa fa-key" aria-hidden="true"></i>&nbsp;Скачать логины и пароли
                            </button>
                        </div>
                        <div class = "col">

                        </div>
                        <div class = "col col-align-right">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash-o fa-lg"></i>&nbsp;Удалить группу
                            </button>
                        </div>
                    </div>

                    <form>
                        <div class="row row-margin-top">
                            <div class="col">
                                <h6 ><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Добавление новых членов команды</h6 >
                                <div class="form-group">
                                    <label for="addPersonInGroup">Одна строка - ФИО одного члена команды</label>
                                    <textarea class="form-control" id="addPersonInGroup" rows="8" cols="20"></textarea>
                                </div>
                                <button class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Добавить</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>